{% extends "_temp/_blank_page_temp.twig" %}
{% block Content %}

    
    <div class="bigWrap">
        <div class="message-box success-box" id="top-success-message-box" style="display: none;">
            <h4>موفقیت!</h4>
            <hr>
            <div class="messages">

            </div>
        </div>
        <div class="message-box error-box" id="top-error-message-box" style="display: none;">
            <h4>خطا!</h4>
            <hr>
            <div class="messages">

            </div>
        </div>
        <section class="product-header clearfix">
            <div class="product-header-images-box">
                <div class="product-header-show-image">
                    <img src="{{ Product['image'] }}" alt="Product Image">
                </div>
                <div class="product-header-images-thumbnail" style="direction: rtl">
                    {% for ProductImage in Product['images'] %}
                        {% if ProductImage['image'] == Product['image'] %}
                            <div class="product-header-image-thumbnail selected">

                        {% else %}
                            <div class="product-header-image-thumbnail">
                        {% endif %}
                            <img src="{{ ProductImage['thumbnail_img'] }}" data-image-src="{{ ProductImage['image'] }}" alt="Product Thumbnail">
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="product-header-information-box">
                <div class="product-title">{{ Product['name'] }}</div>
                <div class="product-manufacturer-category-box clearfix">
                    <div class="product-manufacturer">
                        نام تولیدکننده:
                        <a href="{{ URL }}manufacturer/{{ Product['manufacturer_url'] }}" >{{ Product['manufacturer_name'] }}</a>
                    </div>
                    <div class="product-category">
                        دسته بندی:
                        <a href="{{ URL }}category/{{ Product['category_id'] }}" >{{ Product['category_name'] }}</a>
                    </div>
                </div>
                <div class="product-rating">
                    <div class="rating-stars text-center" data-review-value="{{ Product['rate'] }}">
                        <ul id="stars">
                            <li class="star selected" title="Poor" data-value="1">
                                <i class="fa fa-star fa-fw"></i>
                            </li>
                            <li class="star selected" title="Fair" data-value="2">
                                <i class="fa fa-star fa-fw"></i>
                            </li>
                            <li class="star selected" title="Good" data-value="3">
                                <i class="fa fa-star fa-fw"></i>
                            </li>
                            <li class="star selected" title="Excellent" data-value="4">
                                <i class="fa fa-star fa-fw"></i>
                            </li>
                            <li class="star selected" title="WOW!!!" data-value="5">
                                <i class="fa fa-star fa-fw"></i>
                            </li>
                        </ul>
                        <span class="rating-counter">
                            از {{ Product['reviews_count'] }} رای
                        </span>
                    </div>
                </div>
                <div class="product-status">
                    وضعیت محصول:
                    <span class="{{ Product['stock_status_class'] }}">{{ Product['stock_status'] }}</span>
                </div>
                <div class="product--price">
                    قیمت محصول:
                    {% if Product['special'] == '' %}
                        <span>{{ Product['price'] }}</span>
                        <span class="unit">تومان</span>
                    {% else %}
                        <span class="old">{{ Product['price'] }}</span>
                        <span class="new">{{ Product['special'] }}</span>
                        <span class="unit">تومان</span>
                    {% endif %}


                </div>
                <div class="product-options">
                    {% for ProductOption in Product['options'] %}
                        {% if ProductOption['option_type'] == "color" %}
                            {% set OptionType = "option-color" %}
                        {% else %}
                            {% set OptionType = "" %}
                        {% endif %}
                        <div class="product-option {{ OptionType }}" id="product-option-{{ ProductOption['product_option_id'] }}">
                            <div class="product-option-title">
                                {{ ProductOption['name'] }}:
                            </div>
                            <div class="product-option-items">
                                {% for ProductOptionItem in ProductOption['option_items'] %}
                                    <div class="product-option-item" data-price-value="{{ ProductOptionItem['price'] }}"  data-price-sign="{{ ProductOptionItem['price_sign'] }}" data-product-option-id="{{ ProductOption['product_option_id'] }}" data-product-option-value-id="{{ ProductOptionItem['product_option_value_id'] }}">
                                        {% if ProductOptionItem['image'] %}
                                            <div class="product-option-item-image">
                                                <img src="{{ ProductOptionItem['image'] }}" alt="">
                                            </div>
                                        {% endif %}
                                        <div class="product-option-item-title">
                                            {{ ProductOptionItem['name'] }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    {% endfor %}






                </div>
                <div class="product-add-to-cart">
                    <div id="addon-price">
                    </div>
                    <div>
                        <input type="number" id="product-quantity" class="product-quantity" value="1">
                    </div>
                    <div id="add-to-cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>
                             افزودن به سبد خرید
                        </span>
                    </div>
                </div>
            </div>

        </section>
        <section class="product-description">
            <div class="section-tittle" id="product-head-tab">
                <ul>
                    <li class="selected"><a href="#product-description" >نقد و بررسی</a></li>
                    <li><a href="#product-attributes" >مشخصات</a></li>
                    <li><a href="#product-reviews" >نظرات</a></li>
                </ul>
            </div>
            <div class="section-body" id="product-content-tab">
                <div id="product-description" class="active" >
                    {% autoescape false %}
                        {{ Product['description'] }}
                    {% endautoescape %}
                </div>
                <div id="product-attributes" >
                    <table>
                        {% for AttributeGroupRow in Product['attributes'] %}
                            <tr class="group">
                                <td colspan="2">
                                    {{ AttributeGroupRow['name'] }}
                                </td>
                            </tr>
                            {% for AttributeRow in AttributeGroupRow['attributes'] %}
                                <tr>
                                    <td>{{ AttributeRow['name'] }}</td>
                                    <td>{{ AttributeRow['value'] }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}



                    </table>
                </div>
                <div id="product-reviews">
                    <div class="review-form">
                        <div class="message-box success-box" id="success-message-box" style="display: none;">
                            <h4>موفقیت!</h4>
                            <hr>
                            <div class="messages">

                            </div>
                        </div>
                        <div class="message-box error-box" id="error-message-box" style="display: none;">
                            <h4>خطا!</h4>
                            <hr>
                            <div class="messages">

                            </div>
                        </div>
                        <div class="input-label clearfix">
                            <div class="label">
                                نام:
                            </div>
                            <div class="input">
                                {% if Customer %}
                                    <input type="text" id="product-comment-name" value="{{ Customer.getFirstName() }} {{ Customer.getLastName }}" disabled placeholder="نام">
                                {% else %}
                                    <input type="text" id="product-comment-name" placeholder="نام">
                                {% endif %}
                            </div>
                        </div>
                        <div class="input-label clearfix">
                            <div class="label">
                                نظر:
                            </div>
                            <div class="input">
                                <textarea id="product-comment-description" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="comment-rating" id="comment-rating">
                            <div class="rating-stars text-center">
                                <ul id="stars">
                                    <li class="star" title="Poor" data-value="1">
                                        <i class="fa fa-star fa-fw"></i>
                                    </li>
                                    <li class="star" title="Fair" data-value="2">
                                        <i class="fa fa-star fa-fw"></i>
                                    </li>
                                    <li class="star" title="Good" data-value="3">
                                        <i class="fa fa-star fa-fw"></i>
                                    </li>
                                    <li class="star" title="Excellent" data-value="4">
                                        <i class="fa fa-star fa-fw"></i>
                                    </li>
                                    <li class="star" title="WOW!!!" data-value="5">
                                        <i class="fa fa-star fa-fw"></i>
                                    </li>
                                </ul>
                                <span class="rating-counter">
                        </span>
                            </div>
                        </div>
                        <div class="input-label clearfix">
                            <div class="input">
                                <button id="add-review-btn" class="add-review-btn">ارسال</button>
                            </div>
                        </div>

                    </div>
                    <div class="reviews">
                        <div class="review">
                            <div class="review-author">
                                حسین شیره جونی
                            </div>
                            <div class="review-rate">
                                <div class="rating-stars text-center" data-review-value="5">
                                    <ul id="stars">
                                        <li class="star selected" title="Poor" data-value="1">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Fair" data-value="2">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Good" data-value="3">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Excellent" data-value="4">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="WOW!!!" data-value="5">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="review-text">
                                محصول خیلی خوبی بود ممنون از فروشگاه من که سریع ارسال کردند
                            </div>
                        </div>

                        <div class="review">
                            <div class="review-author">
                                محمد
                            </div>
                            <div class="review-rate">
                                <div class="rating-stars text-center" data-review-value="5">
                                    <ul id="stars">
                                        <li class="star selected" title="Poor" data-value="1">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Fair" data-value="2">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Good" data-value="3">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Excellent" data-value="4">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="WOW!!!" data-value="5">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="review-text">
                                خیلی خوب بود
                            </div>
                        </div>

                        <div class="review">
                            <div class="review-author">
                                حسین
                            </div>
                            <div class="review-rate">
                                <div class="rating-stars text-center" data-review-value="4">
                                    <ul id="stars">
                                        <li class="star selected" title="Poor" data-value="1">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Fair" data-value="2">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Good" data-value="3">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Excellent" data-value="4">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" title="WOW!!!" data-value="5">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="review-text">
                                یک محصول خوب
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block Js %}
    <script type="text/javascript">
        {% autoescape false %}
            let commentUrl = "{{ URL }}comment/add?token={{ Token }}";
            function updateAddonPrice() {
                $("#addon-price").html('');
                $('.product-option-item.selected').each(function (index, element) {
                    let price = +$(element).attr('data-price-value');
                    let price_sign = $(element).attr('data-price-sign');
                    if(price_sign == "+") {
                        $("#addon-price").append($('<p class="green">+'+ price + " تومان" +'</p>'))
                    }else {
                        $("#addon-price").append($('<p class="red">-'+ price + " تومان" +'</p>'))
                    }
                });
            }
            $(document).ready(function () {
                $('.rating-stars[data-review-value]').each(function (index, element) {
                    let stars = +$(element).attr('data-review-value');
                    $(element).find('.star').removeClass('selected');
                    for(i = 1; i <= stars; i++) {
                        $(element).find('.star:nth-child('+ i +')').addClass('selected');
                    }
                });
                $(".product-header-image-thumbnail").click(function () {
                    let src = $(this).find('img').attr('data-image-src');
                    $(this).parent().find('.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $(".product-header-show-image").find('img').attr('src', src);
                });
                $(".product-option-item").click(function () {
                    if($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    }else {
                        $(this).parent().find('.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                    updateAddonPrice();
                });
                $('#product-head-tab > ul >  li > a').click(function (e) {
                    let elementId = $(this).attr('href');
                    $(this).parent().parent().find('li').removeClass('selected');
                    $(this).parent().addClass('selected');
                    $("#product-content-tab > div").removeClass('active');
                    $(elementId).addClass('active');
                    e.preventDefault();
                });

                let selected = 0;
                $("#comment-rating .star").hover(function () {
                    $(this).parent().find('.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $(this).prevAll().addClass("selected");
                });
                $("#comment-rating .star").mouseleave(function () {
                    $(this).parent().find('.selected').removeClass('selected');
                    for(let i = 0; i < selected; i++) {
                        $("#comment-rating").find('.star:nth-child(' + (i + 1) +')').addClass('selected');
                    }
                });
                $("#comment-rating .star").click(function () {
                    $(this).parent().find('.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $(this).prevAll().addClass("selected");
                    selected = +$(this).attr('data-value');
                });

                /*
                * Post Comment Data
                * */
                let successMessageBoxElement = $("#success-message-box");
                let errorMessageBoxElement = $("#error-message-box");
                $("#add-review-btn").click(function () {
                    successMessageBoxElement.find(".messages").html('');
                    successMessageBoxElement.css("display", "none");
                    errorMessageBoxElement.find(".messages").html('');
                    errorMessageBoxElement.css("display", "none");

                    let data = {};
                    let messages = [];
                    let error = false;
                    let element;

                    element = $("#product-comment-name");
                    if(element.val() != "") {
                        data['comment-name'] = element.val();
                    }else {
                        error = true;
                        messages.push("{{ T['error_comment_name_empty'] }}")
                    }

                    element = $("#product-comment-description");
                    if(element.val() != "") {
                        data['comment-description'] = element.val();
                    }else {
                        error = true;
                        messages.push("{{ T['error_comment_description_empty'] }}")
                    }
                    data['comment-rating'] = selected;
                    data['post'] = true;
                    data['comment-post'] = true;
                    if(!error) {
                        $.post(commentUrl, data, function (response) {
                            response = JSON.parse(response);
                            if(response.status === 1) {
                                for (let i = 0; i < response['messages'].length; i++) {
                                    $('<p>').text(response['messages'][i]).appendTo(successMessageBoxElement.find('.messages'));
                                }
                                if(response['messages'].length > 0) {
                                    successMessageBoxElement.css("display", "block");
                                }

                                if(response['redirect']) {
                                    window.setTimeout(function () {
                                        window.location.href = response['redirect'];
                                    }, 1000)
                                }
                            }else {
                                for (let i = 0; i < messages.length; i++) {
                                    $('<p>').text(messages[i]).appendTo(errorMessageBoxElement.find('.messages'));
                                }
                                if(messages.length > 0) {
                                    errorMessageBoxElement.css("display", "block");
                                }
                            }

                        });

                    }else {
                        for (let i = 0; i < messages.length; i++) {
                            $('<p>').text(messages[i]).appendTo(errorMessageBoxElement.find('.messages'));
                        }
                        if(messages.length > 0) {
                            errorMessageBoxElement.css("display", "block");
                        }
                    }
                });

            });

        {% endautoescape %}
    </script>
{% endblock %}