{% extends "_temp/_blank_dashboard_temp.twig" %}

{% block Content %}
    <div class="container">
        <section class="row">
            <div class="col-12 px-5 pt-4">
                <div class="message-box success-box" id="success-message-box" style="display: none;">
                    <h4>موفقیت!</h4>
                    <hr>
                    <div class="messages">

                    </div>
                </div>
                <div class="message-box error-box" id="error-message-box" style="display: none;">
                    <h4>خطا!</h4>
                    <hr>
                    <div class="messages">

                    </div>
                </div>
                <div class="row"  style="box-shadow: 0 0 5px rgba(0,0,0,0.1)">
                    <div class="col-12 p-2">
                        <dib class="form-group">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">عمومی</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="true">اطلاعات</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link" role="tab" aria-controls="link" aria-selected="true">ارتباط</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#attribute" role="tab" aria-controls="attribute" aria-selected="true">خصوصیت محصول</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#option" role="tab" aria-controls="option" aria-selected="true">گزینه محصول</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                {#
                                General Tab
                                #}
                                <div class="tab-pane show fade active p-5" id="general">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        {% for Language in Languages %}
                                            {% if Language['language_id'] == DefaultLanguageID %}

                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#language-{{ Language['language_id'] }}" role="tab" aria-controls="language-{{ Language['language_id'] }}" aria-selected="true">{{ Language['name'] }}</a>
                                                </li>
                                            {% else %}
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#language-{{ Language['language_id'] }}" role="tab" aria-controls="language-{{ Language['language_id'] }}" aria-selected="false">{{ Language['name'] }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <div class="tab-content text-right" id="myTabContent">
                                        {% for Language in Languages %}
                                            {% if Language['language_id'] == DefaultLanguageID %}
                                                {% set ClassName = "show active" %}
                                            {% else %}
                                                {% set ClassName = "" %}
                                            {% endif %}
                                            <div class="tab-pane fade {{ ClassName }} " id="language-{{ Language['language_id'] }}" role="tabpanel" aria-labelledby="language-{{ Language['language_id'] }}-tab">
                                                <div class="form-group d-flex align-middle mt-3">
                                                    <label class="col-sm-2 control-label text-center">نام</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" placeholder="{{ Language['name'] }}" class="form-control" id="product-name-{{ Language['language_id'] }}">
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-middle mt-3">
                                                    <label class="col-sm-2 control-label text-center">توضیحات</label>
                                                    <div class="col-sm-10">
                                                        <textarea id="ckeditor-language-{{ Language['language_id'] }}"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                {#
                                    Information Tab
                                #}
                                <div class="tab-pane p-2" id="information">

                                    <div class="tab-content text-right" id="myTabContent">
                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">قیمت</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="product-price">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">تاریخ</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-date" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">تعداد</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-quantity" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">حداقل تعداد انتخاب</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-min-quantity-per-amount" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">شرایط محصول</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="product-stock-status">
                                                {% for StockStatus in StocksStatus %}
                                                    <option value="{{ StockStatus['stock_status_id'] }}">{{ StockStatus['name'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">وزن</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-weight-value" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">واحد وزن</label>
                                        <div class="col-sm-10">
                                            <select id="product-weight-unit" class="form-control">
                                                {% for Weight in Weights %}
                                                    <option value="{{ Weight['weight_id'] }}">{{ Weight['name'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">ابعاد</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <input type="text" id="product-length" class="form-control" placeholder="طول">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" id="product-width" class="form-control" placeholder="عرض">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" id="product-height" class="form-control" placeholder="ارتفاع">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">واحد طول</label>
                                        <div class="col-sm-10">
                                            <select id="product-length-unit" class="form-control">
                                                {% for Length in Lengths %}
                                                    <option value="{{ Length['length_id'] }}">{{ Length['name'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">ترتیب</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="product-sort-order">
                                        </div>
                                    </div>
                                </div>
                                {#
                                    Link Tab
                                #}
                                <div class="tab-pane p-2" id="link">
                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">تولیدکننده</label>
                                        <div class="col-sm-10">
                                            <input type="text" data-manufacturer-id="0" id="manufacturer-input" class="form-control">
                                            <div class="auto-recommend-box" id="manufacturer-auto-recommend-box" style="display: none;">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">دسته بندی</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-category-input" class="form-control">
                                            <div class="auto-recommend-box" id="category-auto-recommend-box" style="display: none;"></div>
                                            <div class="show-connect-data" id="category-show-connect-data">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">فیلتر</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-filter-input" class="form-control">
                                            <div class="auto-recommend-box" id="filter-auto-recommend-box" style="display: none;"></div>
                                            <div class="show-connect-data" id="filter-show-connect-data">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">مرتبط</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-related-input" class="form-control">
                                            <div class="auto-recommend-box" id="related-auto-recommend-box" style="display: none;"></div>
                                            <div class="show-connect-data" id="related-show-connect-data">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {#
                                    Attribute Tab
                                #}
                                <div class="tab-pane p-2" id="attribute">
                                    <table class="table table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th class="col-5">نام خصوصیت</th>
                                            <th class="col-5">مقدار</th>
                                            <th class="col-2">
                                                <a href="#" id="add-attribute-row-table" class="btn btn-primary fa fa-plus"></a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="table-attribute-show-data">

                                        </tbody>
                                    </table>
                                </div>
                                {#
                                    Option Tab
                                #}
                                <div class="tab-pane p-2" id="option">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="nav text-right flex-column nav-pills" id="option-head-tab" role="tablist" aria-orientation="vertical">

                                            </div>
                                            <div class="row mt-2">
                                                <div class="col">
                                                    <input type="text" id="option-input-search" class="form-control">
                                                    <div class="auto-recommend-box" id="product-option-auto-recommend-box" style="display: none;">
                                                    </div>
                                                </div>
                                                <div class="col p-0 mt-1 text-right"><a href="#" id="add-head-option-tab-btn" class="btn btn-warning fa fa-plus"></a></div>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="tab-content" id="option-body-tab">

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </dib>

                        <div class="form-group text-right pt-3 px-3">
                            <a href="{{ ADMIN_URL }}product/attributegroup/index?token={{ Token }}" class="fa fa-arrow-right btn btn-warning"></a>
                            <a href="#" id="attributegroup-submit-btn" class="fa fa-plus btn btn-success"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
{% block JsBeforeMain %}
    <script type="text/javascript" src="{{ URL }}assets/ckfinder/ckfinder.js"></script>
    <script type="text/javascript" src="{{ URL }}assets/ckeditor/ckeditor.js"></script>
{% endblock %}
{% block Js %}
    {% autoescape false %}
        <script type="text/javascript">
            let Url = "{{ CURRENT_URL }}" + "?token=" + "{{ Token }}";
            let manufacturerUrl = "{{ ADMIN_URL }}product/manufacturer/getmanufacturers?token={{ Token }}";
            let categoryUrl = "{{ ADMIN_URL }}product/category/getcategories?token={{ Token }}";
            let filterUrl = "{{ ADMIN_URL }}product/filter/getfilters?token={{ Token }}";
            let searchAttributeUrl = "{{ ADMIN_URL }}product/attribute/getattributes?token={{ Token }}";
            let searchOptionUrl = "{{ ADMIN_URL }}product/option/getoptions?token={{ Token }}";
            let getOptionInfo = "{{ ADMIN_URL }}product/option/get?token={{ Token }}";
            let Languages = [
                {% for Language in Languages %}
                    "{{ Language['language_id'] }}",
                {% endfor %}
            ];
            let optionData = {};
            let LanguageNames = {
                {% for Language in Languages %}
                "{{ Language['language_id'] }}" : "{{ Language['name'] }}",
                {% endfor %}
            };
            let DefaultLanguageID = {{ DefaultLanguageID }};
            CKFinder.setupCKEditor();
            $(document).ready(function (e) {
                let editor = {};
                Languages.forEach(function (language_id) {
                    editor[language_id] = CKEDITOR.replace('ckeditor-language-' + language_id, {
                        'filebrowserBrowseUrl' : "{{ ADMIN_URL }}ckfinder/choose?token={{ Token }}",
                    });
                });





                /*
                * Product Options
                * */
                let productOptionSearchInput = $("#option-input-search");
                let optionAutoRecommendBox = $("#product-option-auto-recommend-box");
                let optionAddHeadTabBtn = $("#add-head-option-tab-btn");
                let optionHeadTabBox = $('#option-head-tab');
                let timeOutOption;
                productOptionSearchInput.on("keyup", function (e) {

                    clearTimeout(timeOutOption);
                    timeOutOption = setTimeout(function () {
                        let data = {};
                        data['s'] = productOptionSearchInput.val();
                        data['post'] = true;
                        $.post(searchOptionUrl, data, function (response) {
                            response = JSON.parse(response);
                            optionAutoRecommendBox.css('display', 'none');
                            optionAutoRecommendBox.html('');
                            if(response.status === 1) {
                                for(let i = 0;  i < response['options'].length; i++) {
                                    $('<div>').attr('data-option-id', response['options'][i]['option_group_id']).text(response['options'][i]['name'])
                                        .click(function (e) {
                                            optionAutoRecommendBox.css('display', 'none');
                                            optionAutoRecommendBox.html('');
                                            productOptionSearchInput.val($(this).text());
                                            productOptionSearchInput.attr('data-option-id', $(this).attr('data-option-id'));
                                        }).appendTo(optionAutoRecommendBox);
                                }
                                if(response['options'].length > 0) {
                                    optionAutoRecommendBox.css('display', 'block');
                                }
                            }

                        });

                    }, 800);
                });
                optionAddHeadTabBtn.click(function (e) {
                    let option_id = productOptionSearchInput.attr("data-option-id");
                    let option_name = productOptionSearchInput.val();
                    if(option_id && option_name) {
                        let newTabHead = $('<a class="nav-link" id="option-head-tab-'+ option_id +'" data-toggle="pill" href="#option-body-tab-'+ option_id +'" role="tab" aria-controls="option-body-tab-1" aria-selected="false"></a>')
                        let minus = $('<i class="fa fa-minus ml-1"></i>').attr('data-option-id', option_id).click(function (e) {
                            let option_id = $(this).attr('data-option-id');
                            $("#option-head-tab-" + option_id).remove();
                        });
                        minus.appendTo(newTabHead);
                        newTabHead.append(option_name);
                        newTabHead.appendTo(optionHeadTabBox);
                        $.post(getOptionInfo, {"post": true, "option_group_id" : option_id}, function (data) {
                            let response = JSON.parse(data);
                            if(response['status'] == 1) {
                                optionData['option-' + response['option']['option_group_id']] = {
                                    "option_type": response['option']['option_type'],
                                    "sort_order": response['option']['sort_order'],
                                    "language_id": response['option']['language_id'],
                                    "name": response['option']['name'],
                                    "option_items": [],
                                };


                                for (let i = 0; i < response['option']['options'].length; i++) {
                                    optionData['option-' + response['option']['option_group_id']]['option_items'][i] = {
                                        "option_value_id": response['option']['options'][i]['option_value_id'],
                                        "option_value_name": response['option']['options'][i]['name'],
                                        "option_value_image": response['option']['options'][i]['image'],
                                    };
                                }
                            }
                        });
                        addOptionTabBody(option_id);
                        console.log(optionData);

                    }
                    productOptionSearchInput.val('');
                    productOptionSearchInput.attr('data-option-id', 0);
                    e.preventDefault();
                });


                let AddAttributeRowBtn = $("#add-attribute-row-table");
                let AttributeTableShowData = $("#table-attribute-show-data");
                AddAttributeRowBtn.click(function (e) {
                    let newRow = $('<tr>');
                    $('<td><input class="form-control" data-attribute-id="0" type="text" placeholder="نام خصوصیت" onkeyup="searchAttribute(this)"><div class="auto-recommend-box" style="display: none;"></div></td>').appendTo(newRow);
                    let newCell = $("<td>");
                    Languages.forEach(function (language_id) {
                       let textarea = $('<textarea>');
                       textarea.addClass('form-control mb-1');
                       textarea.attr('data-language-id', language_id);
                       textarea.attr('placeholder', LanguageNames[language_id]);
                       textarea.appendTo(newCell);
                    });
                    newCell.appendTo(newRow);
                    newCell = $("<td>");
                    $('<button onclick="deleteRow(this)">').addClass('btn btn-danger fa fa-minus').appendTo(newCell);
                    newCell.appendTo(newRow);
                    newRow.appendTo(AttributeTableShowData);
                    e.preventDefault();
                });

                let productManufacturerInput = $("#manufacturer-input");
                let productManufacturerAutoRecommendBox = $("#manufacturer-auto-recommend-box");
                let timeOut;
                productManufacturerInput.on('keyup', function (e) {
                    clearTimeout(timeOut);
                    timeOut = setTimeout(function () {
                        let data = {};
                        data['s'] = productManufacturerInput.val();
                        data['post'] = true;
                        productManufacturerAutoRecommendBox.text('');
                        productManufacturerAutoRecommendBox.css('display', 'none');
                        $.post(manufacturerUrl, data, function (response) {
                            response = JSON.parse(response);
                            if(response['status'] == 1) {
                                for (i = 0; i < response['manufacturers'].length; i++) {
                                    $('<div>').attr('data-manufacturer-id', response['manufacturers'][i]['manufacturer_id']).text(response['manufacturers'][i]['name']).click(function (e) {
                                        let manufacturer_id = +$(this).attr('data-manufacturer-id');
                                        productManufacturerInput.val($(this).text());
                                        productManufacturerInput.attr('data-manufacturer-id', manufacturer_id);
                                        productManufacturerAutoRecommendBox.text('');
                                        productManufacturerAutoRecommendBox.css('display', 'none');
                                    }).appendTo(productManufacturerAutoRecommendBox);
                                }
                                if(response['manufacturers'].length > 0) {
                                    productManufacturerAutoRecommendBox.css('display', 'block');
                                }
                            }
                        });
                    }, 800)
                });

                let productCategoryInput = $("#product-category-input");
                let productCategoryAutoRecommendBox = $("#category-auto-recommend-box");
                let categoryShowConnected = $("#category-show-connect-data");
                let Categories_id = [];
                productCategoryInput.on('keyup', function (e) {
                    clearTimeout(timeOut);
                    timeOut = setTimeout(function () {
                        let data = {};
                        data['s'] = productCategoryInput.val();
                        data['post'] = true;
                        productCategoryAutoRecommendBox.text('');
                        productCategoryAutoRecommendBox.css('display', 'none');
                        $.post(categoryUrl, data, function (response) {
                            response = JSON.parse(response);
                            if(response['status'] == 1) {
                                for(i = 0; i < response['categories'].length; i++) {
                                    $('<div>').attr('data-category-id', response['categories'][i]['category_id']).text(response['categories'][i]['name']).click(function (e) {
                                        let category_id = +$(this).attr('data-category-id');
                                        addCategoryToProductCategories(categoryShowConnected, $(this).text(), category_id);
                                        productCategoryInput.val('');
                                        productCategoryAutoRecommendBox.text('');
                                        productCategoryAutoRecommendBox.css('display', 'none');
                                    }).appendTo(productCategoryAutoRecommendBox);
                                }
                                if(response['categories'].length > 0) {
                                    productCategoryAutoRecommendBox.css('display', 'block');
                                }
                            }
                        });
                    }, 800);
                });
                function addCategoryToProductCategories(showConnected, categoryName, categoryID) {
                    if(Categories_id.indexOf(categoryID) < 0) {
                        let p = $('<p>');
                        $('<i class="fa fa-minus">').attr('data-category-id', categoryID).click(function (e) {
                            let category_id = +$(this).attr('data-category-id');
                            let index = Categories_id.indexOf(category_id);
                            Categories_id.splice(index, 1);
                            $(this).closest('p').remove();
                        }).appendTo(p);
                        p.append(categoryName);
                        Categories_id.push(categoryID);
                        p.appendTo(showConnected);
                    }
                }

                let productFilterInput = $("#product-filter-input");
                let productFilterAutoRecommendBox = $("#filter-auto-recommend-box");
                let filterShowConnected = $("#filter-show-connect-data");
                let Filters_id = [];
                productFilterInput.on('keyup', function (e) {
                    clearTimeout(timeOut);
                    timeOut = setTimeout(function () {
                        let data = {};
                        data['s'] = productFilterInput.val();
                        data['post'] = true;
                        productFilterAutoRecommendBox.text('');
                        productFilterAutoRecommendBox.css('display', 'none');
                        $.post(filterUrl, data, function (response) {
                            response = JSON.parse(response);
                            if(response['status'] == 1) {
                                for(i = 0; i < response['filters'].length; i++) {
                                    $('<div>').attr('data-filter-id', response['filters'][i]['filter_id']).text(response['filters'][i]['group'] + " > " + response['filters'][i]['name']).click(function (e) {
                                        let filter_id = +$(this).attr('data-filter-id');
                                        addFilterToProductFilters(filterShowConnected, $(this).text(), filter_id);
                                        productFilterInput.val('');
                                        productFilterAutoRecommendBox.text('');
                                        productFilterAutoRecommendBox.css('display', 'none');
                                    }).appendTo(productFilterAutoRecommendBox);
                                }
                                if(response['filters'].length > 0) {
                                    productFilterAutoRecommendBox.css('display', 'block');
                                }
                            }
                        });
                    }, 800);
                });
                function addFilterToProductFilters(showConnected, filterName, filterID) {
                    if(Filters_id.indexOf(filterID) < 0) {
                        let p = $('<p>');
                        $('<i class="fa fa-minus">').attr('data-filter-id', filterID).click(function (e) {
                            let filter_id = +$(this).attr('data-filter-id');
                            let index = Filters_id.indexOf(filter_id);
                            Filters_id.splice(index, 1);
                            $(this).closest('p').remove();
                        }).appendTo(p);
                        p.append(filterName);
                        Filters_id.push(filterID);
                        p.appendTo(showConnected);
                    }
                }


            });
            let timeOut;
            function searchAttribute(element) {
                clearTimeout(timeOut);
                let attributeInput = $(element);
                timeOut = setTimeout(function () {
                    let data = {};
                    data['s'] = attributeInput.val();
                    data['post'] = true;
                    attributeInput.next().text('');
                    attributeInput.next().css('display', 'none');
                    $.post(searchAttributeUrl, data, function (response) {
                        response = JSON.parse(response);
                        if(response['status'] == 1) {
                            for(i = 0; i < response['attributes'].length; i++) {
                                $('<div>').attr('data-attribute-id', response['attributes'][i]['attribute_id']).text(response['attributes'][i]['attributegroup_name'] + " > " + response['attributes'][i]['name']).click(function (e) {
                                    let attribute_id = +$(this).attr('data-attribute-id');
                                    attributeInput.val($(this).text());
                                    attributeInput.attr('data-attribute-id', attribute_id);
                                    attributeInput.next().text('');
                                    attributeInput.next().css('display', 'none');
                                }).appendTo(attributeInput.next());
                            }
                            if(response['attributes'].length > 0) {
                                attributeInput.next().css('display', 'block');
                            }
                        }
                    });
                }, 800);
            }
            let optionRow = 0;
            function addOptionRow(id) {
                optionRow++;
                let table = $("#table-option-"+ id +"-show-data");
                let html = '<tr id="table-option-'+ id +'-row-'+ optionRow +'">';
                html += '<td>';
                html += '<select class="form-control">';
                if(optionData['option-' + id]) {
                    let items = optionData['option-' + id]['option_items'];
                    for(let i = 0; i < items.length; i++) {
                        html += '<option value="'+ items[i]["option_value_id"] +'">'+ items[i]["option_value_name"] +'</option>';
                    }
                }
                html += '</select>';
                html += '</td>';
                html += '<td>';
                html += '<input type="text" class="form-control count-option-item" >';
                html += '</td>';
                html += '<td>';
                html += '<select class="form-control">';
                html += '<option value="1">بله</option>';
                html += '<option value="0">خیر</option>';
                html += '</select>';
                html += '</td>';
                html += '<td>';
                html += '<select class="form-control">';
                html += '<option value="+">+</option>';
                html += '<option value="-">-</option>';
                html += '</select>';
                html += '<input type="text" class="form-control">';
                html += '</td>';
                html += '<td>';
                html += '<select class="form-control">';
                html += '<option value="+">+</option>';
                html += '<option value="-">-</option>';
                html += '</select>';
                html += '<input type="text" class="form-control">';
                html += '</td>';
                html += '<td>';
                html += '<a href="#" onclick="deleteRow('+ id +','+ optionRow +')" class="btn btn-danger fa fa-minus"></a>';
                html += '</td>';
                html += '</tr>';

                table.append(html);
            }
            function deleteRow(id, optionRow) {
                $('#table-option-'+ id +'-row-'+ optionRow ).remove();
            }
            function addOptionTabBody(id) {
                let tabsBox = $("#option-body-tab");
                let html = '<div class="tab-pane fade" id="option-body-tab-'+ id +'" role="tabpanel" aria-labelledby="option-body-tab-'+ id +'">';
                html += '<div class="form-group d-flex align-middle mt-3">';
                html += '<label class="col-sm-2 control-label text-center">الزامی</label>';
                html += '<div class="col-sm-10">';
                html += '<select class="form-control">';
                html += '<option value="1">بله</option>';
                html += '<option value="0">خیر</option>';
                html += '</select>';
                html += '</div>';
                html += '</div>';
                html += '<div class="form-group d-flex align-middle mt-3">';
                html += '<table class="table table-bordered text-center">';
                html += '<thead>';
                html += '<tr>';
                html += '<th class="col-3">مقدار گزینه</th>';
                html += '<th>تعداد</th>';
                html += '<th>اثر در موجودی</th>';
                html += '<th>قیمت</th>';
                html += '<th>وزن</th>';
                html += '<th>';
                html += '<a href="javascript:void(0);" id="add-row-option-table" onclick="addOptionRow('+ id +')" class="add-table-show-data btn btn-primary fa fa-plus"></a>';
                html += '</th>';
                html += '</tr>';
                html += '</thead>';
                html += '<tbody id="table-option-'+ id +'-show-data">';
                html += '</tbody>';
                html += '</table>';
                html += '</div>';
                html += '</div>';

                tabsBox.append(html);
            }

        </script>
    {% endautoescape %}
{% endblock %}