{% extends "_temp/_blank_dashboard_temp.twig" %}

{% block Content %}
    <div class="container">
        <section class="row">
            <div class="col-12 px-5 pt-4">
                <div class="message-box success-box" id="success-message-box" style="display: none;">
                    <h4>موفقیت!</h4>
                    <hr>
                    <div class="messages">

                    </div>
                </div>
                <div class="message-box error-box" id="error-message-box" style="display: none;">
                    <h4>خطا!</h4>
                    <hr>
                    <div class="messages">

                    </div>
                </div>
                <div class="row"  style="box-shadow: 0 0 5px rgba(0,0,0,0.1)">
                    <div class="col-12 p-2">
                        <dib class="form-group">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">عمومی</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="true">اطلاعات</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link" role="tab" aria-controls="link" aria-selected="true">ارتباط</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                {#
                                General Tab
                                #}
                                <div class="tab-pane show fade active p-5" id="general">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        {% for Language in Languages %}
                                            {% if Language['language_id'] == DefaultLanguageID %}

                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#language-{{ Language['language_id'] }}" role="tab" aria-controls="language-{{ Language['language_id'] }}" aria-selected="true">{{ Language['name'] }}</a>
                                                </li>
                                            {% else %}
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#language-{{ Language['language_id'] }}" role="tab" aria-controls="language-{{ Language['language_id'] }}" aria-selected="false">{{ Language['name'] }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <div class="tab-content text-right" id="myTabContent">
                                        {% for Language in Languages %}
                                            {% if Language['language_id'] == DefaultLanguageID %}
                                                {% set ClassName = "show active" %}
                                            {% else %}
                                                {% set ClassName = "" %}
                                            {% endif %}
                                            <div class="tab-pane fade {{ ClassName }} " id="language-{{ Language['language_id'] }}" role="tabpanel" aria-labelledby="language-{{ Language['language_id'] }}-tab">
                                                <div class="form-group d-flex align-middle mt-3">
                                                    <label class="col-sm-2 control-label text-center">نام</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" placeholder="{{ Language['name'] }}" class="form-control" id="product-name-{{ Language['language_id'] }}">
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-middle mt-3">
                                                    <label class="col-sm-2 control-label text-center">توضیحات</label>
                                                    <div class="col-sm-10">
                                                        <textarea id="ckeditor-language-{{ Language['language_id'] }}"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                {#
                                    Information Tab
                                #}
                                <div class="tab-pane p-2" id="information">

                                    <div class="tab-content text-right" id="myTabContent">
                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">قیمت</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="product-price">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">تاریخ</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-date" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">تعداد</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-quantity" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">حداقل تعداد انتخاب</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-min-quantity-per-amount" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">شرایط محصول</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="product-stock-status">
                                                {% for StockStatus in StocksStatus %}
                                                    <option value="{{ StockStatus['stock_status_id'] }}">{{ StockStatus['name'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">وزن</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-weight-value" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">واحد وزن</label>
                                        <div class="col-sm-10">
                                            <select id="product-weight-unit" class="form-control">
                                                {% for Weight in Weights %}
                                                    <option value="{{ Weight['weight_id'] }}">{{ Weight['name'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">ابعاد</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <input type="text" id="product-length" class="form-control" placeholder="طول">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" id="product-width" class="form-control" placeholder="عرض">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" id="product-height" class="form-control" placeholder="ارتفاع">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">واحد طول</label>
                                        <div class="col-sm-10">
                                            <select id="product-length-unit" class="form-control">
                                                {% for Length in Lengths %}
                                                    <option value="{{ Length['length_id'] }}">{{ Length['name'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">ترتیب</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="product-sort-order">
                                        </div>
                                    </div>
                                </div>
                                {#
                                    Link Tab
                                #}
                                <div class="tab-pane p-2" id="link">
                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">تولیدکننده</label>
                                        <div class="col-sm-10">
                                            <input type="text" data-manufacturer-id="0" id="manufacturer-input" class="form-control">
                                            <div class="auto-recommend-box" id="manufacturer-auto-recommend-box" style="display: none;">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">دسته بندی</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-category-input" class="form-control">
                                            <div class="auto-recommend-box" id="category-auto-recommend-box" style="display: none;"></div>
                                            <div class="show-connect-data" id="category-show-connect-data">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">فیلتر</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-filter-input" class="form-control">
                                            <div class="auto-recommend-box" id="filter-auto-recommend-box" style="display: none;"></div>
                                            <div class="show-connect-data" id="filter-show-connect-data">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">مرتبط</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-related-input" class="form-control">
                                            <div class="auto-recommend-box" id="related-auto-recommend-box" style="display: none;"></div>
                                            <div class="show-connect-data" id="related-show-connect-data">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </dib>

                        <div class="form-group text-right pt-3 px-3">
                            <a href="{{ ADMIN_URL }}product/attributegroup/index?token={{ Token }}" class="fa fa-arrow-right btn btn-warning"></a>
                            <a href="#" id="attributegroup-submit-btn" class="fa fa-plus btn btn-success"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
{% block JsBeforeMain %}
    <script type="text/javascript" src="{{ URL }}assets/ckfinder/ckfinder.js"></script>
    <script type="text/javascript" src="{{ URL }}assets/ckeditor/ckeditor.js"></script>
{% endblock %}
{% block Js %}
    {% autoescape false %}
        <script type="text/javascript">
            let Url = "{{ CURRENT_URL }}" + "?token=" + "{{ Token }}";
            let manufacturerUrl = "{{ ADMIN_URL }}product/manufacturer/getmanufacturers?token={{ Token }}";
            let categoryUrl = "{{ ADMIN_URL }}product/category/getcategories?token={{ Token }}";
            let filterUrl = "{{ ADMIN_URL }}product/filter/getfilters?token={{ Token }}";
            let Languages = [
                {% for Language in Languages %}
                    "{{ Language['language_id'] }}",
                {% endfor %}
            ];
            let DefaultLanguageID = {{ DefaultLanguageID }};
            CKFinder.setupCKEditor();
            $(document).ready(function (e) {
                let editor = {};
                Languages.forEach(function (language_id) {
                    editor[language_id] = CKEDITOR.replace('ckeditor-language-' + language_id, {
                        'filebrowserBrowseUrl' : "{{ ADMIN_URL }}ckfinder/choose?token={{ Token }}",
                    });
                });










                let productManufacturerInput = $("#manufacturer-input");
                let productManufacturerAutoRecommendBox = $("#manufacturer-auto-recommend-box");
                let timeOut;
                productManufacturerInput.on('keyup', function (e) {
                    clearTimeout(timeOut);
                    timeOut = setTimeout(function () {
                        let data = {};
                        data['s'] = productManufacturerInput.val();
                        data['post'] = true;
                        productManufacturerAutoRecommendBox.text('');
                        productManufacturerAutoRecommendBox.css('display', 'none');
                        $.post(manufacturerUrl, data, function (response) {
                            response = JSON.parse(response);
                            if(response['status'] == 1) {
                                for (i = 0; i < response['manufacturers'].length; i++) {
                                    $('<div>').attr('data-manufacturer-id', response['manufacturers'][i]['manufacturer_id']).text(response['manufacturers'][i]['name']).click(function (e) {
                                        let manufacturer_id = +$(this).attr('data-manufacturer-id');
                                        productManufacturerInput.val($(this).text());
                                        productManufacturerInput.attr('data-manufacturer-id', manufacturer_id);
                                        productManufacturerAutoRecommendBox.text('');
                                        productManufacturerAutoRecommendBox.css('display', 'none');
                                    }).appendTo(productManufacturerAutoRecommendBox);
                                }
                                if(response['manufacturers'].length > 0) {
                                    productManufacturerAutoRecommendBox.css('display', 'block');
                                }
                            }
                        });
                    }, 800)
                });

                let productCategoryInput = $("#product-category-input");
                let productCategoryAutoRecommendBox = $("#category-auto-recommend-box");
                let categoryShowConnected = $("#category-show-connect-data");
                let Categories_id = [];
                productCategoryInput.on('keyup', function (e) {
                    clearTimeout(timeOut);
                    timeOut = setTimeout(function () {
                        let data = {};
                        data['s'] = productCategoryInput.val();
                        data['post'] = true;
                        productCategoryAutoRecommendBox.text('');
                        productCategoryAutoRecommendBox.css('display', 'none');
                        $.post(categoryUrl, data, function (response) {
                            response = JSON.parse(response);
                            if(response['status'] == 1) {
                                for(i = 0; i < response['categories'].length; i++) {
                                    $('<div>').attr('data-category-id', response['categories'][i]['category_id']).text(response['categories'][i]['name']).click(function (e) {
                                        let category_id = +$(this).attr('data-category-id');
                                        addCategoryToProductCategories(categoryShowConnected, $(this).text(), category_id);
                                        productCategoryInput.val('');
                                        productCategoryAutoRecommendBox.text('');
                                        productCategoryAutoRecommendBox.css('display', 'none');
                                    }).appendTo(productCategoryAutoRecommendBox);
                                }
                                if(response['categories'].length > 0) {
                                    productCategoryAutoRecommendBox.css('display', 'block');
                                }
                            }
                        });
                    }, 800);
                });
                function addCategoryToProductCategories(showConnected, categoryName, categoryID) {
                    if(Categories_id.indexOf(categoryID) < 0) {
                        let p = $('<p>');
                        $('<i class="fa fa-minus">').attr('data-category-id', categoryID).click(function (e) {
                            let category_id = +$(this).attr('data-category-id');
                            let index = Categories_id.indexOf(category_id);
                            Categories_id.splice(index, 1);
                            $(this).closest('p').remove();
                        }).appendTo(p);
                        p.append(categoryName);
                        Categories_id.push(categoryID);
                        p.appendTo(showConnected);
                    }
                }

                let productFilterInput = $("#product-filter-input");
                let productFilterAutoRecommendBox = $("#filter-auto-recommend-box");
                let filterShowConnected = $("#filter-show-connect-data");
                let Filters_id = [];
                productFilterInput.on('keyup', function (e) {
                    clearTimeout(timeOut);
                    timeOut = setTimeout(function () {
                        let data = {};
                        data['s'] = productFilterInput.val();
                        data['post'] = true;
                        productFilterAutoRecommendBox.text('');
                        productFilterAutoRecommendBox.css('display', 'none');
                        $.post(filterUrl, data, function (response) {
                            response = JSON.parse(response);
                            if(response['status'] == 1) {
                                for(i = 0; i < response['filters'].length; i++) {
                                    $('<div>').attr('data-filter-id', response['filters'][i]['filter_id']).text(response['filters'][i]['group'] + " > " + response['filters'][i]['name']).click(function (e) {
                                        let filter_id = +$(this).attr('data-filter-id');
                                        addFilterToProductFilters(filterShowConnected, $(this).text(), filter_id);
                                        productFilterInput.val('');
                                        productFilterAutoRecommendBox.text('');
                                        productFilterAutoRecommendBox.css('display', 'none');
                                    }).appendTo(productFilterAutoRecommendBox);
                                }
                                if(response['filters'].length > 0) {
                                    productFilterAutoRecommendBox.css('display', 'block');
                                }
                            }
                        });
                    }, 800);
                });
                function addFilterToProductFilters(showConnected, filterName, filterID) {
                    if(Filters_id.indexOf(filterID) < 0) {
                        let p = $('<p>');
                        $('<i class="fa fa-minus">').attr('data-filter-id', filterID).click(function (e) {
                            let filter_id = +$(this).attr('data-filter-id');
                            let index = Filters_id.indexOf(filter_id);
                            Filters_id.splice(index, 1);
                            $(this).closest('p').remove();
                        }).appendTo(p);
                        p.append(filterName);
                        Filters_id.push(filterID);
                        p.appendTo(showConnected);
                    }
                }


            });


        </script>
    {% endautoescape %}
{% endblock %}