{% extends "_temp/_blank_dashboard_temp.twig" %}

{% block Content %}
    <div class="container">
        <section class="row">
            <div class="col-12 px-5 pt-4">
                <div class="message-box success-box" id="success-message-box" style="display: none;">
                    <h4>موفقیت!</h4>
                    <hr>
                    <div class="messages">

                    </div>
                </div>
                <div class="message-box error-box" id="error-message-box" style="display: none;">
                    <h4>خطا!</h4>
                    <hr>
                    <div class="messages">

                    </div>
                </div>
                <div class="row"  style="box-shadow: 0 0 5px rgba(0,0,0,0.1)">
                    <div class="col-12 p-2">
                        <dib class="form-group">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">عمومی</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="true">اطلاعات</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link" role="tab" aria-controls="link" aria-selected="true">ارتباط</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#attribute" role="tab" aria-controls="attribute" aria-selected="true">خصوصیت محصول</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#option" role="tab" aria-controls="option" aria-selected="true">گزینه محصول</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#special" role="tab" aria-controls="special" aria-selected="true">تخفیف</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="true">عکس</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                {#
                                General Tab
                                #}
                                <div class="tab-pane show fade active p-5" id="general">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        {% for Language in Languages %}
                                            {% if Language['language_id'] == DefaultLanguageID %}

                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#language-{{ Language['language_id'] }}" role="tab" aria-controls="language-{{ Language['language_id'] }}" aria-selected="true">{{ Language['name'] }}</a>
                                                </li>
                                            {% else %}
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#language-{{ Language['language_id'] }}" role="tab" aria-controls="language-{{ Language['language_id'] }}" aria-selected="false">{{ Language['name'] }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <div class="tab-content text-right" id="myTabContent">
                                        {% for Language in Languages %}
                                            {% if Language['language_id'] == DefaultLanguageID %}
                                                {% set ClassName = "show active" %}
                                            {% else %}
                                                {% set ClassName = "" %}
                                            {% endif %}
                                            <div class="tab-pane fade {{ ClassName }} " id="language-{{ Language['language_id'] }}" role="tabpanel" aria-labelledby="language-{{ Language['language_id'] }}-tab">
                                                <div class="form-group d-flex align-middle mt-3">
                                                    <label class="col-sm-2 control-label text-center">نام</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" value="{{ Product['product_descriptions'][Language['language_id']]['name'] }}" placeholder="{{ Language['name'] }}" class="form-control" id="product-name-{{ Language['language_id'] }}">
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-middle mt-3">
                                                    <label class="col-sm-2 control-label text-center">توضیحات</label>
                                                    <div class="col-sm-10">
                                                        <textarea id="ckeditor-language-{{ Language['language_id'] }}">

                                                            {{ Product['product_descriptions'][Language['language_id']]['description'] }}
                                                        </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                {#
                                    Information Tab
                                #}
                                <div class="tab-pane p-2" id="information">

                                    <div class="tab-content text-right" id="myTabContent">
                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">قیمت</label>
                                            <div class="col-sm-10">
                                                <input type="text" value="{{ Product['price'] }}" class="form-control" id="product-price">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">تاریخ</label>
                                        <div class="col-sm-10">
                                            <input type="text" value="{{ Product['date_available'] }}" id="product-date" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">تعداد</label>
                                        <div class="col-sm-10">
                                            <input type="text" value="{{ Product['quantity'] }}" id="product-quantity" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">حداقل تعداد انتخاب</label>
                                        <div class="col-sm-10">
                                            <input type="text" value="{{ Product['minimum'] }}" id="product-min-quantity-per-amount" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">شرایط محصول</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="product-stock-status">
                                                {% for StockStatus in StocksStatus %}
                                                    {% if StockStatus['stock_status_id'] == Product['stock_status_id'] %}
                                                        <option value="{{ StockStatus['stock_status_id'] }}" selected>{{ StockStatus['name'] }}</option>
                                                    {% else %}
                                                        <option value="{{ StockStatus['stock_status_id'] }}">{{ StockStatus['name'] }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">وزن</label>
                                        <div class="col-sm-10">
                                            <input type="text" value="{{ Product['weight'] }}" id="product-weight-value" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">واحد وزن</label>
                                        <div class="col-sm-10">
                                            <select id="product-weight-unit" class="form-control">
                                                {% for Weight in Weights %}
                                                    {% if Weight['weight_id'] == Product['weight_id'] %}
                                                        <option value="{{ Weight['weight_id'] }}" selected>{{ Weight['name'] }}</option>
                                                    {% else %}
                                                        <option value="{{ Weight['weight_id'] }}">{{ Weight['name'] }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">ابعاد</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <input type="text" value="{{ Product['length'] }}" id="product-length" class="form-control" placeholder="طول">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" value="{{ Product['width'] }}" id="product-width" class="form-control" placeholder="عرض">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" value="{{ Product['height'] }}" id="product-height" class="form-control" placeholder="ارتفاع">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">واحد طول</label>
                                        <div class="col-sm-10">
                                            <select id="product-length-unit" class="form-control">
                                                {% for Length in Lengths %}
                                                    {% if Length['length_id'] == Product['length_id'] %}
                                                        <option value="{{ Length['length_id'] }}" selected>{{ Length['name'] }}</option>
                                                    {% else %}
                                                        <option value="{{ Length['length_id'] }}">{{ Length['name'] }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">ترتیب</label>
                                        <div class="col-sm-10">
                                            <input type="text" value="{{ Product['sort_order'] }}" class="form-control" id="product-sort-order">
                                        </div>
                                    </div>
                                </div>
                                {#
                                    Link Tab
                                #}
                                <div class="tab-pane p-2" id="link">
                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">تولیدکننده</label>
                                        <div class="col-sm-10">
                                            <input type="text" data-manufacturer-id="{{ Product['manufacturer_id'] }}" value="{{ Product['manufacturer_name'] }}" id="manufacturer-input" class="form-control">
                                            <div class="auto-recommend-box" id="manufacturer-auto-recommend-box" style="display: none;">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">دسته بندی</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-category-input" class="form-control">
                                            <div class="auto-recommend-box" id="category-auto-recommend-box" style="display: none;"></div>
                                            <div class="show-connect-data" id="category-show-connect-data">
                                                {% for Category in Product['categories'] %}
                                                <p><i class="fa fa-minus" data-category-id="{{ Category['category_id'] }}"></i>{{ Category['name'] }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">فیلتر</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-filter-input" class="form-control">
                                            <div class="auto-recommend-box" id="filter-auto-recommend-box" style="display: none;"></div>
                                            <div class="show-connect-data" id="filter-show-connect-data">
                                                {% for Filter in Product['filters'] %}
                                                    <p><i class="fa fa-minus" data-category-id="{{ Filter['filter_id'] }}"></i>{{ Filter['group_name'] }} > {{ Filter['name'] }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-middle mt-3">
                                        <label class="col-sm-2 control-label text-center">مرتبط</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="product-related-input" class="form-control">
                                            <div class="auto-recommend-box" id="related-auto-recommend-box" style="display: none;"></div>
                                            <div class="show-connect-data" id="related-show-connect-data">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {#
                                    Attribute Tab
                                #}
                                <div class="tab-pane p-2" id="attribute">
                                    <table class="table table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th class="col-5">نام خصوصیت</th>
                                            <th class="col-5">مقدار</th>
                                            <th class="col-2">
                                                <a href="#" id="add-attribute-row-table" class="btn btn-primary fa fa-plus"></a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="table-attribute-show-data">
                                            {% for Attribute in Product['attributes'] %}
                                                <tr>
                                                    <td><input class="form-control" value="{{ Attribute['group_name'] }} > {{ Attribute['name'] }}" data-attribute-id="{{ Attribute['attribute_id'] }}" type="text"
                                                               placeholder="نام خصوصیت" onkeyup="searchAttribute(this)">
                                                        <div class="auto-recommend-box" style="display: none;"></div>
                                                    </td>
                                                    <td>
                                                        {% for Language in Languages %}
                                                            <textarea class="form-control mb-1" data-language-id="{{ Language['language_id'] }}" placeholder="{{ Language['name'] }}">{{ Attribute['values'][Language['language_id']] }}</textarea>
                                                        {% endfor %}
                                                    <td>
                                                        <button onclick="deleteRowTable(this)"
                                                                class="btn btn-danger fa fa-minus"></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {#
                                    Option Tab
                                #}
                                <div class="tab-pane p-2" id="option">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="nav text-right flex-column nav-pills" id="option-head-tab" role="tablist" aria-orientation="vertical">
                                                {% for ProductOption in Product['options'] %}
                                                    <a class="nav-link" id="option-head-tab-{{ ProductOption['option_group_id'] }}" data-toggle="pill" href="#option-body-tab-{{ ProductOption['option_group_id'] }}" role="tab" aria-controls="option-body-tab-1" aria-selected="true"><i class="fa fa-minus ml-1" data-option-id="{{ ProductOption['option_group_id'] }}"></i>{{ ProductOption['name'] }}</a>
                                                {% endfor %}
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col">
                                                    <input type="text" id="option-input-search" class="form-control">
                                                    <div class="auto-recommend-box" id="product-option-auto-recommend-box" style="display: none;">
                                                    </div>
                                                </div>
                                                <div class="col p-0 mt-1 text-right"><a href="#" id="add-head-option-tab-btn" class="btn btn-warning fa fa-plus"></a></div>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="tab-content" id="option-body-tab">
                                            {% for ProductOption in Product['options'] %}
                                                <div class="tab-pane fade" id="option-body-tab-{{ ProductOption['option_group_id'] }}"
                                                     role="tabpanel" aria-labelledby="option-body-tab-{{ ProductOption['option_group_id'] }}">
                                                    <div class="form-group d-flex align-middle mt-3"><label
                                                                class="col-sm-2 control-label text-center">الزامی</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control">
                                                                {% if ProductOption['required'] == 1 %}
                                                                    <option value="1" selected>بله</option>
                                                                    <option value="0">خیر</option>
                                                                {% else %}
                                                                    <option value="1">بله</option>
                                                                    <option value="0" selected>خیر</option>
                                                                {% endif %}
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group d-flex align-middle mt-3">
                                                        <table class="table table-bordered text-center">
                                                            <thead>
                                                            <tr>
                                                                <th class="col-3">مقدار گزینه</th>
                                                                <th>تعداد</th>
                                                                <th>اثر در موجودی</th>
                                                                <th>قیمت</th>
                                                                <th>وزن</th>
                                                                <th><a href="javascript:void(0);"
                                                                       id="add-row-option-table"
                                                                       onclick="addOptionRow(3)"
                                                                       class="add-table-show-data btn btn-primary fa fa-plus"></a>
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="table-option-3-show-data">
                                                                {% set Counter = 0 %}

                                                                {% for ProductOptionItem in ProductOption['option_items'] %}
                                                                    {% set Counter = Counter + 1 %}
                                                                    <tr id="table-option-{{ ProductOption['option_group_id'] }}-row-{{ Counter }}">
                                                                        <td><select class="form-control">
                                                                                {% for OptionItem in Options[ProductOption['option_group_id']]['option_items'] %}
                                                                                    {% if ProductOptionItem['option_item_id'] == OptionItem['option_item_id'] %}
                                                                                        <option value="{{ OptionItem['option_item_id'] }}" selected>{{ OptionItem['name'] }}</option>
                                                                                    {% else %}
                                                                                    <option value="{{ OptionItem['option_item_id'] }}">{{ OptionItem['name'] }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select></td>
                                                                        <td>
                                                                            <input type="text" value="{{ ProductOptionItem['quantity'] }}" class="form-control count-option-item">
                                                                        </td>
                                                                        <td><select class="form-control">
                                                                                {% if ProductOptionItem['subtract'] == 1 %}
                                                                                    <option value="1" selected>بله</option>
                                                                                    <option value="0">خیر</option>
                                                                                {% else %}
                                                                                    <option value="1">بله</option>
                                                                                    <option value="0" selected>خیر</option>
                                                                                {% endif %}
                                                                            </select></td>
                                                                        <td><select class="form-control">
                                                                                {% if ProductOptionItem['price_sign'] == '+' %}
                                                                                    <option value="+" selected>+</option>
                                                                                    <option value="-">-</option>
                                                                                {% else %}
                                                                                    <option value="+">+</option>
                                                                                    <option value="-" selected>-</option>
                                                                                {% endif %}
                                                                            </select><input type="text" value="{{ ProductOptionItem['price'] }}" class="form-control"></td>
                                                                        <td><select class="form-control">
                                                                                {% if ProductOptionItem['weight_sign'] == '+' %}
                                                                                    <option value="+" selected>+</option>
                                                                                    <option value="-">-</option>
                                                                                {% else %}
                                                                                    <option value="+">+</option>
                                                                                    <option value="-" selected>-</option>
                                                                                {% endif %}
                                                                            </select><input type="text" value="{{ ProductOptionItem['weight'] }}" class="form-control"></td>
                                                                        <td><a href="#" onclick="deleteRow(3,1)"
                                                                               class="btn btn-danger fa fa-minus"></a>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div></div>
                                                </div>
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#
                                    Special Tab
                                #}
                                <div class="tab-pane p-2" id="special">
                                    <table class="table table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th class="col-2">اولویت</th>
                                            <th class="col-2">قیمت</th>
                                            <th class="col-3">تاریخ شروع</th>
                                            <th class="col-3">تاریخ پایان</th>
                                            <th class="col-2">
                                                <a href="#" id="add-special-row-table" class="btn btn-primary fa fa-plus"></a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="table-special-show-data">
                                            {% for Special in Product['specials'] %}
                                                <tr>
                                                    <td><input type="number" value="{{ Special['priority'] }}" class="form-control" placeholder="اولویت">
                                                    </td>
                                                    <td><input type="number" value="{{ Special['price'] }}" class="form-control" placeholder="قیمت">
                                                    </td>
                                                    <td><input type="text"  value="{{ Special['date_start'] }}"
                                                               class="form-control pwt-datepicker-input-element"
                                                               placeholder="تاریخ شروع"></td>
                                                    <td><input type="text"  value="{{ Special['date_end'] }}"
                                                               class="form-control pwt-datepicker-input-element"
                                                               placeholder="تاریخ پایان"></td>
                                                    <td>
                                                        <button onclick="deleteRowTable(this)"
                                                                class="btn btn-danger fa fa-minus"></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {#
                                    Image Tab
                                #}
                                <div class="tab-pane p-2" id="image">
                                    <table class="table table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th class="col-3">عکس پیش فرض</th>
                                            <th class="col-4">پیش نمایش عکس</th>
                                            <th class="col-3">ترتیب</th>
                                            <th class="col-2">
                                                <a href="#" id="add-image-row-table" class="btn btn-primary fa fa-plus"></a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="table-image-show-data">
                                            {% for Image in Product['images'] %}
                                                <tr>
                                                    <td>
                                                        {% if Image['default'] == '1' %}
                                                            <input type="radio" checked  name="defaultImage" class="form-control">
                                                        {% else %}
                                                            <input type="radio"  name="defaultImage" class="form-control">
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div style="width: 150px; border: 2px dashed black; text-align: center; margin: 0px auto;">
                                                            <img style="width: 100%;" src="{{ Image['src'] }}">
                                                            <input type="hidden" value="{{ Image['image'] }}">
                                                        </div>
                                                    </td>
                                                    <td><input type="number" value="{{ Image['sort_order'] }}" placeholder="ترتیب" class="form-control">
                                                    </td>
                                                    <td>
                                                        <button onclick="deleteRowTable(this)"
                                                                class="btn btn-danger fa fa-minus"></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </dib>

                        <div class="form-group text-right pt-3 px-3">
                            <a href="{{ ADMIN_URL }}product/product/index?token={{ Token }}" class="fa fa-arrow-right btn btn-warning"></a>
                            <a href="#" id="product-submit-btn" class="fa fa-plus btn btn-success"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
{% block Css %}
    <link rel="stylesheet" href="{{ URL }}assets/persian_date/persian-datepicker.min.css">
{% endblock %}
{% block JsBeforeMain %}
    <script type="text/javascript" src="{{ URL }}assets/ckfinder/ckfinder.js"></script>
    <script type="text/javascript" src="{{ URL }}assets/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="{{ URL }}assets/persian_date/persian-date.min.js"></script>
    <script type="text/javascript" src="{{ URL }}assets/persian_date/persian-datepicker.min.js"></script>
{% endblock %}
{% block Js %}
    {% autoescape false %}
        <script type="text/javascript">
            let Url = "{{ CURRENT_URL }}" + "?token=" + "{{ Token }}";
            let manufacturerUrl = "{{ ADMIN_URL }}product/manufacturer/getmanufacturers?token={{ Token }}";
            let categoryUrl = "{{ ADMIN_URL }}product/category/getcategories?token={{ Token }}";
            let filterUrl = "{{ ADMIN_URL }}product/filter/getfilters?token={{ Token }}";
            let searchAttributeUrl = "{{ ADMIN_URL }}product/attribute/getattributes?token={{ Token }}";
            let searchOptionUrl = "{{ ADMIN_URL }}product/option/getoptions?token={{ Token }}";
            let getOptionInfo = "{{ ADMIN_URL }}product/option/get?token={{ Token }}";
            let Languages = [
                {% for Language in Languages %}
                    "{{ Language['language_id'] }}",
                {% endfor %}
            ];
            // optionData['option-' + response['option']['option_group_id']] = {
            //                         "option_type": response['option']['option_type'],
            //                         "sort_order": response['option']['sort_order'],
            //                         "language_id": response['option']['language_id'],
            //                         "name": response['option']['name'],
            //                         "option_items": [],
            //                     };
            // optionData['option-' + response['option']['option_group_id']]['option_items'][i] = {
            //                             "option_value_id": response['option']['options'][i]['option_item_id'],
            //                             "option_value_name": response['option']['options'][i]['name'],
            //                             "option_value_image": response['option']['options'][i]['image'],
            //                         };
            let optionData = {
            {% for ProductOption in Product['options'] %}
                "option-{{ ProductOption['option_group_id'] }}" : {
                    "option_type" : "{{ Options[ProductOption['option_group_id']]['option_type'] }}",
                    "sort_order" : "{{ Options[ProductOption['option_group_id']]['sort_order'] }}",
                    "language_id" : "{{ Options[ProductOption['option_group_id']]['language_id'] }}",
                    "name" : "{{ Options[ProductOption['option_group_id']]['name'] }}",
                    "option_items" : [
                        {% for OptionItem in Options[ProductOption['option_group_id']]['option_items'] %}
                        {
                            "option_value_id"   : "{{ OptionItem['option_item_id'] }}",
                            "option_value_name"   : "{{ OptionItem['name'] }}",
                            "option_value_image"   : "{{ OptionItem['image'] }}",
                        },
                        {% endfor %}
                    ]
                },
            {% endfor %}
            };
            let LanguageNames = {
                {% for Language in Languages %}
                "{{ Language['language_id'] }}" : "{{ Language['name'] }}",
                {% endfor %}
            };
            let DefaultLanguageID = {{ DefaultLanguageID }};

            function selectFileWithCKFinder( elementId ) {
                CKFinder.modal( {
                    chooseFiles: true,
                    width: 800,
                    height: 600,
                    onInit: function( finder ) {
                        finder.on( 'files:choose', function( evt ) {
                            let file = evt.data.files.first();
                            let parent = elementId.parent();
                            parent.html('');
                            let image = $("<img>").css('width', "100%");
                            image.attr('src', file.getUrl());
                            image.appendTo(parent);
                            let input = $("<input type='hidden'>");
                            input.val(file.getUrl());
                            input.appendTo(parent);
                        } );
                    }
                } );
            }

            CKFinder.setupCKEditor();
            $(document).ready(function (e) {
                let editor = {};
                Languages.forEach(function (language_id) {
                    editor[language_id] = CKEDITOR.replace('ckeditor-language-' + language_id, {
                        'filebrowserBrowseUrl' : "{{ ADMIN_URL }}ckfinder/choose?token={{ Token }}",
                    });
                });

                $("#product-date").persianDatepicker({
                    'format' : "YYYY/MM/DD",
                    initialValueType: 'persian'
                });
                $('#category-show-connect-data').find('p i').click(function (e) {
                    let category_id = +$(this).attr('data-category-id');
                    let index = Categories_id.indexOf(category_id);
                    Categories_id.splice(index, 1);
                    $(this).closest('p').remove();
                });
                $('#filter-show-connect-data').find('p i').click(function (e) {
                    let filter_id = +$(this).attr('data-filter-id');
                    let index = Filters_id.indexOf(filter_id);
                    Filters_id.splice(index, 1);
                    $(this).closest('p').remove();
                });




                /*
                * Post Data
                * */
                let productSubmitBtn = $("#product-submit-btn");
                let successMessageBoxElement = $("#success-message-box");
                let errorMessageBoxElement = $("#error-message-box");

                productSubmitBtn.click(function (e) {
                    let data  = {};
                    let messages = [];
                    let error = false;
                    let element;

                    successMessageBoxElement.find(".messages").html('');
                    successMessageBoxElement.css("display", "none");
                    errorMessageBoxElement.find(".messages").html('');
                    errorMessageBoxElement.css("display", "none");


                    Languages.forEach(function (language_id) {
                        element = $("#product-name-" + language_id);
                        if(element.val() != "") {
                            data['product-name-' + language_id] = element.val();
                        }
                        if(editor[language_id] && editor[language_id].getData()) {
                            data['product-description-' + language_id] = editor[language_id].getData();
                        }
                    });
                    if($("#product-name-" + DefaultLanguageID).val() == "") {
                        error = true;
                        messages.push("{{ T['error_product_name_empty'] }}");
                    }
                    if(!editor[DefaultLanguageID].getData()) {
                        error = true;
                        messages.push("{{ T['error_product_description_empty'] }}");
                    }
                    /*
                    * Product Price
                    * */
                    element = $("#product-price");
                    if(element.val() != "") {
                        data['product-price'] = element.val();
                    }else {
                        error = true;
                        messages.push("{{ Translate['error_product_price_empty'] }}")
                    }
                    /*
                    * Product Date
                    * */
                    element = $("#product-date");
                    if(element.val() != "") {
                        data['product-date'] = element.val();
                    }else {
                        data['product-date'] = '';
                    }
                    /*
                    * Product Quantity
                    * */
                    element = $("#product-quantity");
                    if(element.val() != "") {
                        data['product-quantity'] = element.val();
                    }else {
                        data['product-quantity'] = 0;
                    }
                    /*
                    * Product Min Quantity Min Per Order
                    * */
                    element = $("#product-min-quantity-per-amount");
                    if(element.val() != "") {
                        data['product-min-quantity-per-order'] = element.val();
                    }else {
                        data['product-min-quantity-per-order'] = 0;
                    }

                    /*
                    * Product Stock Status
                    * */
                    element = $("#product-stock-status");
                    if(element.val() != "") {
                        data['product-stock-status'] = element.val();
                    }else {
                        error = true;
                        messages.push("{{ T['error_product_stock_status_not_selected'] }}");
                    }

                    /*
                    * Product Weight
                    * */
                    element = $("#product-weight-value");
                    if(element.val() != "") {
                        data['product-weight'] = element.val();
                    }else {
                        error = true;
                        messages.push("{{ T['error_product_weight_value_empty'] }}");
                    }

                    /*
                    * Product Wight Unit
                    * */
                    element = $("#product-weight-unit");
                    if(element.val() != "") {
                        data['product-weight-unit'] = element.val();
                    }else {
                        error = true;
                        messages.push("{{ T['error_product_weight_unit_not_selected'] }}");
                    }

                    /*
                    * Product Length
                    * */
                    element = $("#product-length");
                    if(element.val() != "") {
                        data['product-length'] = element.val();
                    }else {
                        error = true;
                        messages.push("{{ T['error_product_length'] }}");
                    }


                    /*
                    * Product Width
                    * */
                    element = $("#product-width");
                    if(element.val() != "") {
                        data['product-width'] = element.val();
                    }else {
                        error = true;
                        messages.push("{{ T['error_product_width'] }}");
                    }


                    /*
                    * Product height
                    * */
                    element = $("#product-height");
                    if(element.val() != "") {
                        data['product-height'] = element.val();
                    }else {
                        error = true;
                        messages.push("{{ T['error_product_height'] }}");
                    }


                    /*
                    * Product Length Unit
                    * */
                    element = $("#product-length-unit");
                    if(element.val() != "") {
                        data['product-length-unit'] = element.val();
                    }else {
                        error = true;
                        messages.push("{{ T['error_product_length_not_selected'] }}");
                    }

                    /*
                    * Product Sort Order
                    * */
                    element = $("#product-sort-order");
                    if(element.val() != "") {
                        data['product-sort-order'] = element.val();
                    }else {
                        data['product-sort-order'] = 0;
                    }

                    /*
                    * Product Manufacturer
                    * */
                    element = $("#manufacturer-input");
                    if(element.val() != "" && +element.attr('data-manufacturer-id')) {
                        data['product-manufacturer-id'] = element.attr('data-manufacturer-id');
                    }else {
                        error = true;
                        messages.push("{{ T['error_product_manufacturer_not_selected'] }}");
                    }
                    /*
                    * Product Category
                    * */
                    if(Categories_id.length > 0) {
                        data['product-categories-id'] = Categories_id;
                    }else {
                        error = true;
                        messages.push("{{ T['error_product_category_not_selected'] }}");
                    }
                    /*
                    * Product Filter
                    * */
                    if(Filters_id.length > 0) {
                        data['product-filters-id'] = Filters_id;
                    }else {
                        error = true;
                        messages.push("{{ T['error_product_filter_not_selected'] }}");
                    }
                    /*
                    * Product Attribute
                    * */
                    let table = $("#table-attribute-show-data");
                    data['product-attributes'] = [];
                    table.find('tr').each(function (index, element) {
                        let productAttributeData = {};
                        let attribute_id = +$(element).find('td:first-child input').attr('data-attribute-id');
                        if(attribute_id) {
                            productAttributeData['attribute-id'] = attribute_id;
                            if($(element).find('td:nth-child(2) textarea').each(function (index, textarea) {
                                if($(textarea).val() != "") {
                                    let language_id = $(textarea).attr('data-language-id');
                                    productAttributeData['attribute-value-' + language_id] = $(textarea).val();
                                }
                            }));
                            if($(element).find('td:nth-child(2) textarea[data-language-id="'+ DefaultLanguageID +'"]').val() != "") {
                                data['product-attributes'].push(productAttributeData);
                            }
                        }
                    });
                    /*
                    * Product Option
                    * */
                    let optionHeadBox = $("#option-head-tab");
                    data['product-options'] = [];
                    optionHeadBox.find('a').each(function (index, headTabLink) {
                        let split = $(headTabLink).attr('id').split('-');
                        let option_id = split[split.length - 1];
                        let optionGroupData = {};
                        optionGroupData['option-id'] = option_id;
                        let OptionBodyBox = $("#option-body-tab-" + option_id);
                        optionGroupData['required'] = OptionBodyBox.find("div:first-child select").val();
                        let OptionItems = [];
                       $("#table-option-"+ option_id +"-show-data").find('tr').each(function (index, tableRow) {
                           let optionItemData = {};
                           let optionItemID = +$(tableRow).find('td:first-child select').val();
                           if(optionItemID) {
                               optionItemData['option-item-id'] = optionItemID;
                               optionItemData['quantity'] = +$(tableRow).find('td:nth-child(2) input').val();
                               optionItemData['effect-on-quantity'] = +$(tableRow).find('td:nth-child(3) select').val();
                               let sign = $(tableRow).find('td:nth-child(4) select').val();
                               if(sign == "-") {
                                   optionItemData['price-sign'] = "-";
                               }else {
                                   optionItemData['price-sign'] = "+";
                               }
                               optionItemData['price'] = +$(tableRow).find('td:nth-child(4) input').val()
                               sign = $(tableRow).find('td:nth-child(5) select').val();
                               if(sign == "-") {
                                   optionItemData['weight-sign'] = "-";
                               }else {
                                   optionItemData['weight-sign'] = "+";
                               }
                               optionItemData['weight'] = +$(tableRow).find('td:nth-child(5) input').val()
                               OptionItems.push(optionItemData);
                           }
                       });
                        optionGroupData['option-items'] = OptionItems;
                        data['product-options'].push(optionGroupData);
                    });


                    /*
                    * Special Tab
                    * */
                    table = $("#table-special-show-data");
                    data['product-specials'] = [];
                    table.find('tr').each(function (index, element) {
                        let productSpecial = {};
                        productSpecial['priority'] = $(element).find('td:first-child input').val();
                        productSpecial['price'] = $(element).find('td:nth-child(2) input').val();
                        productSpecial['date-start'] = $(element).find('td:nth-child(3) input').val();
                        productSpecial['date-end'] = $(element).find('td:nth-child(4) input').val();
                        data['product-specials'].push(productSpecial);
                    });
                    /*
                   * Image Tab
                   * */
                    table = $("#table-image-show-data");
                    data['product-images'] = [];
                    table.find('tr').each(function (index, element) {
                        let productImage = {};
                        productImage['src'] = $(element).find('td:nth-child(2) input').val();
                        productImage['default'] = $(element).find('td:nth-child(1) input').is(':checked');
                        productImage['sort_order'] = $(element).find('td:nth-child(3) input').val();
                        data['product-images'].push(productImage);
                    });

                    data['post'] = true;
                    data['product-post'] = true;
                    if(!error) {
                        $.post(Url, data, function (response) {
                            response = JSON.parse(response);
                            if(response['status'] == 1) {
                                for(let i = 0; i < response['messages'].length; i++) {
                                    $('<p>').text(response['messages'][i]).appendTo(successMessageBoxElement.find('.messages'));
                                }
                                if(response['messages'].length > 0) {
                                    successMessageBoxElement.css('display', 'block');
                                }

                                if(response['redirect']) {
                                    window.setTimeout(function () {
                                        window.location.href = response['redirect'];
                                    }, 1000);
                                }

                            }else {
                                for(let i = 0; i < response['messages'].length; i++) {
                                    $('<p>').text(response['messages'][i]).appendTo(errorMessageBoxElement.find('.messages'));
                                }
                                if(response['messages'].length > 0) {
                                    errorMessageBoxElement.css('display', 'block');
                                }
                            }
                        });
                    }else {
                        for(let i = 0; i < messages.length; i++) {
                            $('<p>').text(messages[i]).appendTo(errorMessageBoxElement.find('.messages'));
                        }
                        if(messages.length > 0) {
                            errorMessageBoxElement.css('display', 'block');
                        }
                    }




                    e.preventDefault();
                });


                let productImageAddRowBtn = $("#add-image-row-table");
                let productImageTableShowData = $("#table-image-show-data");
                productImageAddRowBtn.click(function (e) {
                    console.log("Hello");
                    let newRow = $('<tr>');
                    $("<td><input type='radio' name='defaultImage' class='form-control'></td>").appendTo(newRow);
                    let newCell = $("<td>");
                    let ImageBox = $("<div>");
                    ImageBox.css({
                        'width' : "150px",
                        'border': "2px dashed black",
                        'text-align' : 'center',
                        'margin': "0 auto",
                    });
                    $("<a href='#' class='btn btn-warning fa fa-image'></a>").css("margin", "40px").click(function (e) {
                        selectFileWithCKFinder($(this));
                        e.preventDefault();
                    }).appendTo(ImageBox);
                    ImageBox.appendTo(newCell);
                    newCell.appendTo(newRow);
                    $("<td><input type='number' placeholder='ترتیب' class='form-control'></td>").appendTo(newRow);
                    newCell = $("<td>");
                    $('<button onclick="deleteRowTable(this)">').addClass('btn btn-danger fa fa-minus').appendTo(newCell);
                    newCell.appendTo(newRow);
                    newRow.appendTo(productImageTableShowData);
                    e.preventDefault();
                });




                let productSpecialAddRowBtn = $("#add-special-row-table");
                let productSpecialTableShowData = $("#table-special-show-data");
                productSpecialAddRowBtn.click(function (e) {
                    let newRow = $('<tr>');
                    $("<td><input type='number' class='form-control' placeholder='اولویت'></td>").appendTo(newRow);
                    $("<td><input type='number' class='form-control' placeholder='قیمت'></td>").appendTo(newRow);

                    let newCell = $("<td>");
                    let input = $("<input type='text' class='form-control' placeholder='تاریخ شروع'>");
                    input.persianDatepicker({
                        'format' : 'YYYY/MM/DD',
                    });
                    input.appendTo(newCell);
                    newCell.appendTo(newRow);
                    newCell = $("<td>");
                    input = $("<input type='text' class='form-control' placeholder='تاریخ شروع'>");
                    input.persianDatepicker({
                        'format' : 'YYYY/MM/DD',
                    });
                    input.appendTo(newCell);
                    newCell.appendTo(newRow);
                    newCell = $("<td>");
                    $('<button onclick="deleteRowTable(this)">').addClass('btn btn-danger fa fa-minus').appendTo(newCell);
                    newCell.appendTo(newRow);
                    newRow.appendTo(productSpecialTableShowData);
                    e.preventDefault();
                });


                /*
                * Product Options
                * */
                let productOptionSearchInput = $("#option-input-search");
                let optionAutoRecommendBox = $("#product-option-auto-recommend-box");
                let optionAddHeadTabBtn = $("#add-head-option-tab-btn");
                let optionHeadTabBox = $('#option-head-tab');
                let timeOutOption;
                productOptionSearchInput.on("keyup", function (e) {

                    clearTimeout(timeOutOption);
                    timeOutOption = setTimeout(function () {
                        let data = {};
                        data['s'] = productOptionSearchInput.val();
                        data['post'] = true;
                        $.post(searchOptionUrl, data, function (response) {
                            response = JSON.parse(response);
                            optionAutoRecommendBox.css('display', 'none');
                            optionAutoRecommendBox.html('');
                            if(response.status === 1) {
                                for(let i = 0;  i < response['options'].length; i++) {
                                    $('<div>').attr('data-option-id', response['options'][i]['option_group_id']).text(response['options'][i]['name'])
                                        .click(function (e) {
                                            optionAutoRecommendBox.css('display', 'none');
                                            optionAutoRecommendBox.html('');
                                            productOptionSearchInput.val($(this).text());
                                            productOptionSearchInput.attr('data-option-id', $(this).attr('data-option-id'));
                                        }).appendTo(optionAutoRecommendBox);
                                }
                                if(response['options'].length > 0) {
                                    optionAutoRecommendBox.css('display', 'block');
                                }
                            }

                        });

                    }, 800);
                });
                optionAddHeadTabBtn.click(function (e) {
                    let option_id = productOptionSearchInput.attr("data-option-id");
                    let option_name = productOptionSearchInput.val();
                    if(option_id && option_name) {
                        let newTabHead = $('<a class="nav-link" id="option-head-tab-'+ option_id +'" data-toggle="pill" href="#option-body-tab-'+ option_id +'" role="tab" aria-controls="option-body-tab-1" aria-selected="false"></a>')
                        let minus = $('<i class="fa fa-minus ml-1"></i>').attr('data-option-id', option_id).click(function (e) {
                            let option_id = $(this).attr('data-option-id');
                            $("#option-head-tab-" + option_id).remove();
                        });
                        minus.appendTo(newTabHead);
                        newTabHead.append(option_name);
                        newTabHead.appendTo(optionHeadTabBox);
                        $.post(getOptionInfo, {"post": true, "option_group_id" : option_id}, function (data) {
                            let response = JSON.parse(data);
                            if(response['status'] == 1) {
                                optionData['option-' + response['option']['option_group_id']] = {
                                    "option_type": response['option']['option_type'],
                                    "sort_order": response['option']['sort_order'],
                                    "language_id": response['option']['language_id'],
                                    "name": response['option']['name'],
                                    "option_items": [],
                                };


                                for (let i = 0; i < response['option']['options'].length; i++) {
                                    optionData['option-' + response['option']['option_group_id']]['option_items'][i] = {
                                        "option_value_id": response['option']['options'][i]['option_item_id'],
                                        "option_value_name": response['option']['options'][i]['name'],
                                        "option_value_image": response['option']['options'][i]['image'],
                                    };
                                }
                            }
                        });
                        addOptionTabBody(option_id);
                        console.log(optionData);

                    }
                    productOptionSearchInput.val('');
                    productOptionSearchInput.attr('data-option-id', 0);
                    e.preventDefault();
                });


                let AddAttributeRowBtn = $("#add-attribute-row-table");
                let AttributeTableShowData = $("#table-attribute-show-data");
                AddAttributeRowBtn.click(function (e) {
                    let newRow = $('<tr>');
                    $('<td><input class="form-control" data-attribute-id="0" type="text" placeholder="نام خصوصیت" onkeyup="searchAttribute(this)"><div class="auto-recommend-box" style="display: none;"></div></td>').appendTo(newRow);
                    let newCell = $("<td>");
                    Languages.forEach(function (language_id) {
                       let textarea = $('<textarea>');
                       textarea.addClass('form-control mb-1');
                       textarea.attr('data-language-id', language_id);
                       textarea.attr('placeholder', LanguageNames[language_id]);
                       textarea.appendTo(newCell);
                    });
                    newCell.appendTo(newRow);
                    newCell = $("<td>");
                    $('<button onclick="deleteRowTable(this)">').addClass('btn btn-danger fa fa-minus').appendTo(newCell);
                    newCell.appendTo(newRow);
                    newRow.appendTo(AttributeTableShowData);
                    e.preventDefault();
                });

                let productManufacturerInput = $("#manufacturer-input");
                let productManufacturerAutoRecommendBox = $("#manufacturer-auto-recommend-box");
                let timeOut;
                productManufacturerInput.on('keyup', function (e) {
                    clearTimeout(timeOut);
                    timeOut = setTimeout(function () {
                        let data = {};
                        data['s'] = productManufacturerInput.val();
                        data['post'] = true;
                        productManufacturerAutoRecommendBox.text('');
                        productManufacturerAutoRecommendBox.css('display', 'none');
                        $.post(manufacturerUrl, data, function (response) {
                            response = JSON.parse(response);
                            if(response['status'] == 1) {
                                for (i = 0; i < response['manufacturers'].length; i++) {
                                    $('<div>').attr('data-manufacturer-id', response['manufacturers'][i]['manufacturer_id']).text(response['manufacturers'][i]['name']).click(function (e) {
                                        let manufacturer_id = +$(this).attr('data-manufacturer-id');
                                        productManufacturerInput.val($(this).text());
                                        productManufacturerInput.attr('data-manufacturer-id', manufacturer_id);
                                        productManufacturerAutoRecommendBox.text('');
                                        productManufacturerAutoRecommendBox.css('display', 'none');
                                    }).appendTo(productManufacturerAutoRecommendBox);
                                }
                                if(response['manufacturers'].length > 0) {
                                    productManufacturerAutoRecommendBox.css('display', 'block');
                                }
                            }
                        });
                    }, 800)
                });

                let productCategoryInput = $("#product-category-input");
                let productCategoryAutoRecommendBox = $("#category-auto-recommend-box");
                let categoryShowConnected = $("#category-show-connect-data");
                let Categories_id = [
                    {% for Category in Product['categories'] %}
                    "{{ Category['category_id'] }}",
                    {% endfor %}
                ];
                productCategoryInput.on('keyup', function (e) {
                    clearTimeout(timeOut);
                    timeOut = setTimeout(function () {
                        let data = {};
                        data['s'] = productCategoryInput.val();
                        data['post'] = true;
                        productCategoryAutoRecommendBox.text('');
                        productCategoryAutoRecommendBox.css('display', 'none');
                        $.post(categoryUrl, data, function (response) {
                            response = JSON.parse(response);
                            if(response['status'] == 1) {
                                for(i = 0; i < response['categories'].length; i++) {
                                    $('<div>').attr('data-category-id', response['categories'][i]['category_id']).text(response['categories'][i]['name']).click(function (e) {
                                        let category_id = +$(this).attr('data-category-id');
                                        addCategoryToProductCategories(categoryShowConnected, $(this).text(), category_id);
                                        productCategoryInput.val('');
                                        productCategoryAutoRecommendBox.text('');
                                        productCategoryAutoRecommendBox.css('display', 'none');
                                    }).appendTo(productCategoryAutoRecommendBox);
                                }
                                if(response['categories'].length > 0) {
                                    productCategoryAutoRecommendBox.css('display', 'block');
                                }
                            }
                        });
                    }, 800);
                });
                function addCategoryToProductCategories(showConnected, categoryName, categoryID) {
                    if(Categories_id.indexOf(categoryID) < 0) {
                        let p = $('<p>');
                        $('<i class="fa fa-minus">').attr('data-category-id', categoryID).click(function (e) {
                            let category_id = +$(this).attr('data-category-id');
                            let index = Categories_id.indexOf(category_id);
                            Categories_id.splice(index, 1);
                            $(this).closest('p').remove();
                        }).appendTo(p);
                        p.append(categoryName);
                        Categories_id.push(categoryID);
                        p.appendTo(showConnected);
                    }
                }

                let productFilterInput = $("#product-filter-input");
                let productFilterAutoRecommendBox = $("#filter-auto-recommend-box");
                let filterShowConnected = $("#filter-show-connect-data");
                let Filters_id = [
                    {% for Filter in Product['filters'] %}
                    "{{ Filter['filter_id'] }}",
                    {% endfor %}
                ];
                productFilterInput.on('keyup', function (e) {
                    clearTimeout(timeOut);
                    timeOut = setTimeout(function () {
                        let data = {};
                        data['s'] = productFilterInput.val();
                        data['post'] = true;
                        productFilterAutoRecommendBox.text('');
                        productFilterAutoRecommendBox.css('display', 'none');
                        $.post(filterUrl, data, function (response) {
                            response = JSON.parse(response);
                            if(response['status'] == 1) {
                                for(i = 0; i < response['filters'].length; i++) {
                                    $('<div>').attr('data-filter-id', response['filters'][i]['filter_id']).text(response['filters'][i]['group'] + " > " + response['filters'][i]['name']).click(function (e) {
                                        let filter_id = +$(this).attr('data-filter-id');
                                        addFilterToProductFilters(filterShowConnected, $(this).text(), filter_id);
                                        productFilterInput.val('');
                                        productFilterAutoRecommendBox.text('');
                                        productFilterAutoRecommendBox.css('display', 'none');
                                    }).appendTo(productFilterAutoRecommendBox);
                                }
                                if(response['filters'].length > 0) {
                                    productFilterAutoRecommendBox.css('display', 'block');
                                }
                            }
                        });
                    }, 800);
                });
                function addFilterToProductFilters(showConnected, filterName, filterID) {
                    if(Filters_id.indexOf(filterID) < 0) {
                        let p = $('<p>');
                        $('<i class="fa fa-minus">').attr('data-filter-id', filterID).click(function (e) {
                            let filter_id = +$(this).attr('data-filter-id');
                            let index = Filters_id.indexOf(filter_id);
                            Filters_id.splice(index, 1);
                            $(this).closest('p').remove();
                        }).appendTo(p);
                        p.append(filterName);
                        Filters_id.push(filterID);
                        p.appendTo(showConnected);
                    }
                }


            });
            let timeOut;
            function searchAttribute(element) {
                clearTimeout(timeOut);
                let attributeInput = $(element);
                timeOut = setTimeout(function () {
                    let data = {};
                    data['s'] = attributeInput.val();
                    data['post'] = true;
                    attributeInput.next().text('');
                    attributeInput.next().css('display', 'none');
                    $.post(searchAttributeUrl, data, function (response) {
                        response = JSON.parse(response);
                        if(response['status'] == 1) {
                            for(i = 0; i < response['attributes'].length; i++) {
                                $('<div>').attr('data-attribute-id', response['attributes'][i]['attribute_id']).text(response['attributes'][i]['attributegroup_name'] + " > " + response['attributes'][i]['name']).click(function (e) {
                                    let attribute_id = +$(this).attr('data-attribute-id');
                                    attributeInput.val($(this).text());
                                    attributeInput.attr('data-attribute-id', attribute_id);
                                    attributeInput.next().text('');
                                    attributeInput.next().css('display', 'none');
                                }).appendTo(attributeInput.next());
                            }
                            if(response['attributes'].length > 0) {
                                attributeInput.next().css('display', 'block');
                            }
                        }
                    });
                }, 800);
            }
            let optionRow = 0;
            function addOptionRow(id) {
                optionRow++;
                let table = $("#table-option-"+ id +"-show-data");
                let html = '<tr id="table-option-'+ id +'-row-'+ optionRow +'">';
                html += '<td>';
                html += '<select class="form-control">';
                if(optionData['option-' + id]) {
                    let items = optionData['option-' + id]['option_items'];
                    for(let i = 0; i < items.length; i++) {
                        html += '<option value="'+ items[i]["option_value_id"] +'">'+ items[i]["option_value_name"] +'</option>';
                    }
                }
                html += '</select>';
                html += '</td>';
                html += '<td>';
                html += '<input type="text" class="form-control count-option-item" >';
                html += '</td>';
                html += '<td>';
                html += '<select class="form-control">';
                html += '<option value="1">بله</option>';
                html += '<option value="0">خیر</option>';
                html += '</select>';
                html += '</td>';
                html += '<td>';
                html += '<select class="form-control">';
                html += '<option value="+">+</option>';
                html += '<option value="-">-</option>';
                html += '</select>';
                html += '<input type="text" class="form-control">';
                html += '</td>';
                html += '<td>';
                html += '<select class="form-control">';
                html += '<option value="+">+</option>';
                html += '<option value="-">-</option>';
                html += '</select>';
                html += '<input type="text" class="form-control">';
                html += '</td>';
                html += '<td>';
                html += '<a href="#" onclick="deleteRow('+ id +','+ optionRow +')" class="btn btn-danger fa fa-minus"></a>';
                html += '</td>';
                html += '</tr>';

                table.append(html);
            }
            function deleteRow(id, optionRow) {
                $('#table-option-'+ id +'-row-'+ optionRow ).remove();
            }
            function addOptionTabBody(id) {
                let tabsBox = $("#option-body-tab");
                let html = '<div class="tab-pane fade" id="option-body-tab-'+ id +'" role="tabpanel" aria-labelledby="option-body-tab-'+ id +'">';
                html += '<div class="form-group d-flex align-middle mt-3">';
                html += '<label class="col-sm-2 control-label text-center">الزامی</label>';
                html += '<div class="col-sm-10">';
                html += '<select class="form-control">';
                html += '<option value="1">بله</option>';
                html += '<option value="0">خیر</option>';
                html += '</select>';
                html += '</div>';
                html += '</div>';
                html += '<div class="form-group d-flex align-middle mt-3">';
                html += '<table class="table table-bordered text-center">';
                html += '<thead>';
                html += '<tr>';
                html += '<th class="col-3">مقدار گزینه</th>';
                html += '<th>تعداد</th>';
                html += '<th>اثر در موجودی</th>';
                html += '<th>قیمت</th>';
                html += '<th>وزن</th>';
                html += '<th>';
                html += '<a href="javascript:void(0);" id="add-row-option-table" onclick="addOptionRow('+ id +')" class="add-table-show-data btn btn-primary fa fa-plus"></a>';
                html += '</th>';
                html += '</tr>';
                html += '</thead>';
                html += '<tbody id="table-option-'+ id +'-show-data">';
                html += '</tbody>';
                html += '</table>';
                html += '</div>';
                html += '</div>';

                tabsBox.append(html);
            }
            function deleteRowTable(element) {
                $(element).closest('tr').remove();
            }
        </script>
    {% endautoescape %}
{% endblock %}